
@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details - " + Model.Title + " -";
}
<div class="background" style="background: url(../Images/MVCMovieImage.png)">
    <h1>Movie Details</h1>

    <div>
        <h4>Movie - @Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <dl class="card-columns">
            <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </div>
            <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ReleaseDate)
                </dd>
            </div>
            <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Genre)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Genre)
                </dd>
            </div>
            <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rating)
                </dd>
            </div>
            <div style="break-inside: avoid; background-color: #c5d5c5; border-radius: 15px;">
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </div>
        </dl>
        <div style="background-color: #c5d5c5; border-radius: 15px;" class="col-12">
            <!-- details view image requirement edit ></!-->
            <div class="col-sm-10" style="font-weight: bold;">
                @Html.DisplayNameFor(model => model.ImagePath)
            </div>
            <div class="col-sm-10" style="padding: 1rem;">
            
                <img src="~/Images/@Html.DisplayFor(model => model.ImagePath)" class="img-thumbnail" alt="Image for @Html.DisplayFor(model => model.Title)"/>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>